@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@500;800&family=Bebas+Neue&family=Satisfy&display=swap");

.header-content {
  background-size: cover;
  background-color: #ce2829;
  background-position: center;
  overflow: auto;
  height: 110vh;
  background-image: url(../Assets/mvp-banner.png);
}

.font-style {
  margin-top: 2em;
  text-align: center;
  width: 100%;
}
.firsat-font {
  color: #fdc913;
  font-family: "Satisfy", cursive;
  margin-top: 0%;
  margin-bottom: 0%;
  font-size: 32px;
}

.header2-font {
  display: inline;
  font-size: 86px;
  padding: 0%;
  color: white;
  font-family: "Bebas Neue", sans-serif;
  margin-bottom: 0;
  margin-top: 0;
}

.header3-font {
  font-size: 86px;
  padding: 0%;
  color: white;
  font-family: "Bebas Neue", sans-serif;
  margin-bottom: 0;
  margin-top: 0;
}
.button1 {
  text-decoration: none;
  font-family: "Barlow", sans-serif;
  border-radius: 3.125em;
  border: none;
  background-color: #fdc913;
  padding: 0.7em 2em;
  width: 12em;
  margin-top: 0.5em;

  color: #292929;
}
